<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <style type="text/css">
  
  table
	{
		border-collapse:collapse;
		border:1px solid black;
	}
	
  	table th,table td
	{
		
		padding-left:5px;
		padding-right:5px;
		text-align:left;
		border:1px solid black;
		
	}
	table tr
	{
		border:none;
	} 
	
	.textleft{
		text-align:left;
		padding-left:5px;
	}
	
	.textcenter{
		text-align:center;
	}
	
	.textright{
		text-align:right;
		padding-right:5px;
	}
	
	#statistb
	{
		border:1px solid black;
	}
	
	#statistb td
	{
		border:1px solid black;
		padding-top:5px;
		padding-bottom:4px;
		padding-left:10px;
	}
		

  </style>
 </head>

 <body>
	<div style="font-family:Calibri; font-size:15px;">
		<strong>Generated at:</strong> $time.getSend() <br/>
		<strong>Data time range:</strong>(UTC)$time.getQueryStart() &nbsp;~ &nbsp;	$time.getQueryEnd()
	</div>
	<br/>
	<div style="text-align:center;">
		<table id="statistb" style="border-collapse:collapse;">
			<tbody>
				<tr style="font-weight:bold;">
					<td class="textcenter" style="width:200px; background-color:#E9E9E9;">Collection</td>
					<td class="textcenter" style="width:180px; background-color:#E9E9E9;">Field</td>					
					<td class="textcenter" style="width:100px; background-color:#E9E9E9;">Current Value</td>
					<td class="textcenter" style="width:100px; background-color:#E9E9E9;">Threshold</td>
					<td class="textcenter" style="width:100px; background-color:#CACACA;">Out of Threshold</td>
					<td class="textcenter" style="width:100px; background-color:#E9E9E9;">Same day in last week</td>
					<td class="textcenter" style="width:100px; background-color:#E9E9E9;">Delta Threshold(WoW)</td>
					<td class="textcenter" style="width:100px; background-color:#CACACA;">Out of Threshold Delta(Wow)</td>
				</tr>
		
			#foreach($singleResult in ${resultlist})
				<!-- 
				<tr style="color:$singleResult.getColor();">
				-->
				<tr>
					<td class="textleft">$singleResult.getCollection()</td>
					<td class="textleft">$singleResult.getField()</td>
					#if($singleResult.getField() != "Performance")
						#if($singleResult.getNowValue() == "N/A")
							<td class="textright">$singleResult.getNowValue()</td>
						#else
							<td class="textright">$singleResult.getNowValue()%</td>
						#end
						<td class="textright">$singleResult.getOperator() $singleResult.getThreshold()%</td>
						#if($singleResult.getOutOfThreshold() == "N/A")
							<td class="textright" style="background-color:$singleResult.getThresholdColor();">$singleResult.getOutOfThreshold()</td>
						#else
							<td class="textright" style="background-color:$singleResult.getThresholdColor();">$singleResult.getOutOfThreshold()%</td>
						#end
						#if($singleResult.getBeforeValue() == "N/A")
							<td class="textright">$singleResult.getBeforeValue()</td>
						#else
							<td class="textright">$singleResult.getBeforeValue()%</td>
						#end
						<td class="textright">$singleResult.getDeltaThreshold()%</td>
						#if($singleResult.getOutOfThresholdDelta() == "N/A") 
							<td class="textright" style="background-color:$singleResult.getThresholdDeltaColor();">$singleResult.getOutOfThresholdDelta()</td>
						#else
							<td class="textright" style="background-color:$singleResult.getThresholdDeltaColor();">$singleResult.getOutOfThresholdDelta()%</td>
						#end
					#else
						#if($singleResult.getNowValue() == "N/A")
							<td class="textright">$singleResult.getNowValue()</td>
						#else
							<td class="textright">$singleResult.getNowValue()min</td>
						#end
						<td class="textright">$singleResult.getOperator() $singleResult.getThreshold()min</td>
						#if($singleResult.getOutOfThreshold() == "N/A")
							<td class="textright" style="background-color:$singleResult.getThresholdColor();">$singleResult.getOutOfThreshold()</td>
						#else
							<td class="textright" style="background-color:$singleResult.getThresholdColor();">$singleResult.getOutOfThreshold()min</td>
						#end
						#if($singleResult.getBeforeValue() == "N/A")
							<td class="textright">$singleResult.getBeforeValue()</td>
						#else
							<td class="textright">$singleResult.getBeforeValue()min</td>
						#end
						<td class="textright">$singleResult.getDeltaThreshold()min</td>
						#if($singleResult.getOutOfThresholdDelta() == "N/A") 
							<td class="textright" style="background-color:$singleResult.getThresholdDeltaColor();">$singleResult.getOutOfThresholdDelta()</td>
						#else
							<td class="textright" style="background-color:$singleResult.getThresholdDeltaColor();">$singleResult.getOutOfThresholdDelta()min</td>
						#end
					#end
				</tr>
			#end 
			</tbody>
		</table>
	</div>

 </body>
</html>
