<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <meta name="Generator" content="EditPlus">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <style type="text/css">
  
  table
	{
		border-collapse:collapse;
		border:1px solid black;
	}
	
  	table th,table td
	{
		
		padding-left:5px;
		padding-right:5px;
		text-align:left;
		border:1px solid black;
		
	}
	table tr
	{
		border:none;
	}
    #statisdetail
	{
		width:500px; 
		font-family:Calibri; 
		border-collapse:collapse;
		margin:0;
	
	}
	
	#statisdetail th
	{
		padding-left:5px;
		text-align:left;
		background-color:#DCDCDC;
		margin:0;
		border-collapse:collapse;
		
	}
	
    #statisdetail tr
	{
		margin:0;
		padding:0;
		border-collapse:collapse;
	}
	
	#statisdetail td
	{
		padding-right:5px;
		text-align:right;
		magin:0;
		border-collapse:collapse;
	}
	
    
	
	#statistb
	{
		border:1px solid black;
		text-align:center;
	}
	
	#statistb td
	{
		border:1px solid black;
		padding-top:5px;
		padding-bottom:4px;
		padding-left:10px;
		text-align:center;
	}
		
  </style>
 </head>

 <body>
  <!--statistics-->
  <div>
	<table id="statistb" style="width:550px; border-collapse:collapse;">
		<tr rowspan="3" style="background-color:#DFEFCF; font-family:Georgia; font-size:27px; font-weight:500px;">
			<td>${info_24h.getSystemReliabilityRate()}%</td>
			<td>${info_7day.getSystemReliabilityRate()}%</td>
			<td>${info_30day.getSystemReliabilityRate()}%</td>
		</tr>

		<tr style="background-color:#FFBF80; font-family:Calibri; font-size:15px;">
			<td>24 Hours System Reliability</td>
			<td>7 Days System Reliability</td>
			<td>30 Days System Reliability</td>
		</tr>
	</table>
  </div>
  <br/>

  <!--amended statistic detail table-->
  <div>
	<table id="statisdetail">
	<!--table header-->
		<tr>
			<th colspan="2">&nbsp;</th>
			<th>24 Hours</th>
			<th>7 Days</th>
			<th>30 Days</th>
		</tr>

		<!--System Reliability-->
		<tr>
			<th colspan="2">System Reliability</th>
			<td>${info_24h.getSystemReliabilityRate()}%</td>
			<td>${info_7day.getSystemReliabilityRate()}%</td>
			<td>${info_30day.getSystemReliabilityRate()}%</td>
		</tr>

		<!--Overall Reliability-->
		<tr>
			<th  colspan="2">Overall Reliability</th>
			<td>${info_24h.getOverallReliabilityRate()}%</td>
			<td>${info_7day.getOverallReliabilityRate()}%</td>
			<td>${info_30day.getOverallReliabilityRate()}%</td>
		</tr>

		<!--Successful Events-->
		<tr>
			<th  colspan="2">Successful Events</th>
			<td>${info_24h.getSuccessfulSessions()}</td>
			<td>${info_7day.getSuccessfulSessions()}</td>
			<td>${info_30day.getSuccessfulSessions()}</td>
		</tr>

		<!--Failed  Events-->
		<tr>
			<th  colspan="2">Failed  Events</th>
			<td>${info_24h.getFailedSessions()}</td>
			<td>${info_7day.getFailedSessions()}</td>
			<td>${info_30day.getFailedSessions()}</td>
		</tr>

		<!--System Errors-->
		<tr>
			<th>&nbsp;</th>
			<th>System Errors</th>
			<td>${info_24h.getSystemErrors()}</td>
			<td>${info_7day.getSystemErrors()}</td>
			<td>${info_30day.getSystemErrors()}</td>
		</tr>

		<!--User Errors-->
		<tr>
			<th>&nbsp;</th>
			<th>User Errors</th>
			<td>${info_24h.getUserErrors()}</td>
			<td>${info_7day.getUserErrors()}</td>
			<td>${info_30day.getUserErrors()}</td>
		</tr>

		<!--Unknown Errors-->
		<tr>
			<th>&nbsp;</th>
			<th>Unknown Errors</th>
			<td>${info_24h.getUnknownErrors()}</td>
			<td>${info_7day.getUnknownErrors()}</td>
			<td>${info_30day.getUnknownErrors()}</td>
		</tr>
		
		<!--Total  Events-->
		<tr>
			<th  colspan="2">Total  Events</th>
			<td>${info_24h.getTotalSessions()}</td>
			<td>${info_7day.getTotalSessions()}</td>
			<td>${info_30day.getTotalSessions()}</td>
		</tr>
	</table>
  </div>
  <br/>


  <div style="font-family:Calibri">
  Note:<br/>
  <strong>System Reliability</strong> = (1 - (System Errors + Unknown Errors) / Total  Events) * 100%<br/>
  <strong>Overall Reliability</strong> = Successful Events / Total  Events * 100%<br/>
  <strong>Failed  Events</strong> = System Errors + User Errors + Unknown Errors<br/>
  </div>
  <br/>

<!--
<div>
  <span style="font-family:Calibri; font-size:18px; font-weight:bold;">Weekly Trend</span><br/>
  <img src="weekly_trend"/>
</div>
<br/>
-->
<div>
  <span style="font-family:Calibri; font-size:18px; font-weight:bold;">Weekly Trend</span><br/>
  <img src="line_chart"/>
</div>
<br/> <br/>
  <span style="font-family:Calibri; font-size:16px;">Top error category for 30 Days</span><br/><br/>
  <!--Top 10 System Errors table-->
  <div>
  <span style="font-family:Calibri; font-size:16px; font-weight:bold;">Top 10 System Errors</span><br/><br/>
  <table style="border:1px black solid; bordercolor:#444444; width:900px; cellspacing:0; font-family:Calibri; border-collapse:collapse;">
	<tr style="font-weight:bold;" >
		<td>Error Code</td>
		<td style="text-align:right;">Count</td>
		<td style="text-align:right;">Percentage</td>
		<td>Description</td>
	</tr>

	#foreach($systemerror in ${topTenSystemErrors})

	<tr>
		<td style="width:250px;">$systemerror.getName()</td>
		<td style="text-align:right;">$systemerror.getCount()</td>
		<td style="text-align:right;">$systemerror.getPercentage()%</td>
		#if($systemerror.getDescription())
			<td>$systemerror.getDescription()</td>
		#else
			<td>N/A</td>
		#end
	</tr>

	#end
  </table>
  </div>
  <br/><br/>

 <!--Top 10 User Errors table-->	
  <div>
  <span style="font-family:Calibri; font-size:16px; font-weight:bold;">Top 10 User Errors</span><br/><br/>
  <table style="border:1px black solid; bordercolor:#444444; width:900px; cellspacing:0; font-family:Calibri; border-collapse:collapse;">
	<tr style="font-weight:bold;">
		<td>Error Code</td>
		<td style="text-align:right;">Count</td>
		<td style="text-align:right;">Percentage</td>
		<td>Description</td>
	</tr>

	#foreach($usererror in ${topTenUserErrors})

	<tr>
		<td style="width:250px;">$usererror.getName()</td>
		<td style="text-align:right;">$usererror.getCount()</td>
		<td style="text-align:right;">$usererror.getPercentage()%</td>
		#if($usererror.getDescription())
			<td>$usererror.getDescription()</td>
		#else
			<td>N/A</td>
		#end
	</tr>

	#end
  </table>
  </div>

 </body>
</html>
